In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
ANIME_DIR = "anime_data/"

In [3]:
anime_ratings = pd.read_csv(ANIME_DIR + "animelist.csv", nrows=10000000)
anime_data = pd.read_csv(ANIME_DIR + "anime.csv")
complete_rating = pd.read_csv(ANIME_DIR + "rating_complete.csv")

In [4]:
anime_data.head()

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0

In [5]:
anime_data.rename(columns={'MAL_ID':"anime_id"},inplace=True)

In [9]:
anime_data.columns

Index(['anime_id', 'Name', 'Score', 'Genres', 'English name', 'Japanese name',
       'Type', 'Episodes', 'Aired', 'Premiered', 'Producers', 'Licensors',
       'Studios', 'Source', 'Duration', 'Rating', 'Ranked', 'Popularity',
       'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped',
       'Plan to Watch', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6',
       'Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1'],
      dtype='object')

In [6]:
to_keep = ['anime_id', 'Name', 'Score', 'Genres', 'Type', 'Episodes', 'Members']
anime_data = anime_data[to_keep]
anime_data

,anime_id,Name,Score,Genres,Type,Episodes,Members
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,1251960
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1,273145
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV,26,558913
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",TV,26,94683
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",TV,52,13224
...,...,...,...,...,...,...,...
17557,48481,Daomu Biji Zhi Qinling Shen Shu,Unknown,"Adventure, Mystery, Supernatural",ONA,Unknown,354
17558,48483,Mieruko-chan,Unknown,"Comedy, Horror, Supernatural",TV,Unknown,7010
17559,48488,Higurashi no Naku Koro ni Sotsu,Unknown,"Mystery, Dementia, Horror, Psychological, Supe...",TV,Unknown,11309
17560,48491,Yama no Susume: Next Summit,Unknown,"Adventure, Slice of Life, Comedy",TV,Unknown,1386
17561,48492,Scarlet Nexus,Unknown,"Action, Fantasy",TV,Unknown,310

In [7]:
anime_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           int64
 1   anime_id          int64
 2   rating            int64
 3   watching_status   int64
 4   watched_episodes  int64
dtypes: int64(5)
memory usage: 381.5 MB

In [8]:
anime_ratings = anime_ratings[['user_id', 'anime_id', 'rating']]
anime_ratings

         user_id  anime_id  rating
0              0        67       9
1              0      6702       7
2              0       242      10
3              0      4898       0
4              0        21      10
...          ...       ...     ...
9999995    32600         6       0
9999996    32600      2129       4
9999997    32600     34902       0
9999998    32600     37722       0
9999999    32600     36510       0

[10000000 rows x 3 columns]

In [36]:
dict = {'Unknown' : 0}
anime_data['Score'] = anime_data['Score'].astype(str).apply(lambda x : dict[x] if x == 'Unknown' else x).astype(float)

In [54]:
top10_by_score = anime_data.loc[anime_data['Score'].nlargest(10).index]
top10_by_members = anime_data.loc[anime_data['Members'].nlargest(10).index]

In [55]:
top10_by_score

,anime_id,Name,Score,Genres,Type,Episodes,Members
3971,5114,Fullmetal Alchemist: Brotherhood,9.19,"Action, Military, Adventure, Comedy, Drama, Ma...",TV,64,2248456
15926,40028,Shingeki no Kyojin: The Final Season,9.17,"Action, Military, Mystery, Super Power, Drama,...",TV,16,733260
5683,9253,Steins;Gate,9.11,"Thriller, Sci-Fi",TV,24,1771162
6474,11061,Hunter x Hunter (2011),9.10,"Action, Adventure, Fantasy, Shounen, Super Power",TV,148,1673924
9913,28977,Gintama°,9.10,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,404121
14963,38524,Shingeki no Kyojin Season 3 Part 2,9.10,"Action, Drama, Fantasy, Military, Mystery, Sho...",TV,10,1073626
6006,9969,Gintama',9.08,"Action, Sci-Fi, Comedy, Historical, Parody, Sa...",TV,51,365579
741,820,Ginga Eiyuu Densetsu,9.07,"Military, Sci-Fi, Space, Drama",OVA,110,230168
7261,15417,Gintama': Enchousen,9.04,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,222819
9886,28851,Koe no Katachi,9.00,"Drama, School, Shounen",Movie,1,1387607

In [56]:
top10_by_members

,anime_id,Name,Score,Genres,Type,Episodes,Members
1393,1535,Death Note,8.63,"Mystery, Police, Psychological, Supernatural, ...",TV,37,2589552
7449,16498,Shingeki no Kyojin,8.48,"Action, Military, Mystery, Super Power, Drama,...",TV,25,2531397
3971,5114,Fullmetal Alchemist: Brotherhood,9.19,"Action, Military, Adventure, Comedy, Drama, Ma...",TV,64,2248456
6614,11757,Sword Art Online,7.25,"Action, Game, Adventure, Romance, Fantasy",TV,25,2214395
10451,30276,One Punch Man,8.57,"Action, Sci-Fi, Comedy, Parody, Super Power, S...",TV,12,2123866
11185,31964,Boku no Hero Academia,8.11,"Action, Comedy, School, Shounen, Super Power",TV,13,1909814
8646,22319,Tokyo Ghoul,7.81,"Action, Mystery, Horror, Psychological, Supern...",TV,12,1895488
10,20,Naruto,7.91,"Action, Adventure, Comedy, Super Power, Martia...",TV,220,1830540
5683,9253,Steins;Gate,9.11,"Thriller, Sci-Fi",TV,24,1771162
8148,19815,No Game No Life,8.20,"Game, Adventure, Comedy, Supernatural, Ecchi, ...",TV,12,1751054